<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<dict>
		<key>app</key>
		<string>LevelHelper 2</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>frames</key>
	<dict>
		<key>object_backpack</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{69.000000, 145.000000}, {80.000000, 95.000000}}</string>
			<key>offset</key>
			<string>{0.000000, -0.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5.000000, 6.000000}, {80.000000, 95.000000}}</string>
			<key>sourceSize</key>
			<string>{90.000000, 106.000000}</string>
			<key>uuid</key>
			<string>2A491747-34DF-4BF7-963D-5C02562F1949</string>
		</dict>
		<key>object_banana</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{153.000000, 2.000000}, {82.000000, 56.000000}}</string>
			<key>offset</key>
			<string>{0.000000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5.000000, 4.000000}, {82.000000, 56.000000}}</string>
			<key>sourceSize</key>
			<string>{92.000000, 64.000000}</string>
			<key>uuid</key>
			<string>542E1F6A-72F5-4F88-B074-1ED9C0B008E6</string>
		</dict>
		<key>object_bananabunch</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{151.000000, 62.000000}, {77.000000, 55.000000}}</string>
			<key>offset</key>
			<string>{1.500000, -1.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4.000000, 7.000000}, {55.000000, 77.000000}}</string>
			<key>sourceSize</key>
			<string>{88.000000, 65.000000}</string>
			<key>uuid</key>
			<string>7AA7312A-DF3C-44C5-8D17-068A5F8C0391</string>
		</dict>
		<key>object_canteen</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{211.000000, 62.000000}, {42.000000, 65.000000}}</string>
			<key>offset</key>
			<string>{-1.000000, -1.500000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8.000000, 8.000000}, {42.000000, 65.000000}}</string>
			<key>sourceSize</key>
			<string>{60.000000, 78.000000}</string>
			<key>uuid</key>
			<string>1FAD3310-F2F5-477A-8B57-189955345F17</string>
		</dict>
		<key>object_hat</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{1.000000, 144.000000}, {109.000000, 63.000000}}</string>
			<key>offset</key>
			<string>{0.500000, 0.000000}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6.000000, 7.000000}, {63.000000, 109.000000}}</string>
			<key>sourceSize</key>
			<string>{122.000000, 75.000000}</string>
			<key>uuid</key>
			<string>A90489E0-E3E2-4113-BB4F-D027452326DF</string>
		</dict>
		<key>object_pineapple</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array>
					<dict>
						<key>category</key>
						<integer>1</integer>
						<key>density</key>
						<real>0.10000000000000001</real>
						<key>friction</key>
						<real>0.20000000000000001</real>
						<key>mask</key>
						<integer>65535</integer>
						<key>name</key>
						<string>pineappleFruit</string>
						<key>points</key>
						<array>
							<array>
								<string>{-8, -2.25}</string>
								<string>{11, -2.75}</string>
								<string>{20, 5.25}</string>
							</array>
							<array>
								<string>{-17, 6.25}</string>
								<string>{-8, -2.25}</string>
								<string>{20, 5.25}</string>
							</array>
							<array>
								<string>{-17, 6.25}</string>
								<string>{20, 5.25}</string>
								<string>{25, 17.75}</string>
							</array>
							<array>
								<string>{-23.5, 24.25}</string>
								<string>{-17, 6.25}</string>
								<string>{25, 17.75}</string>
							</array>
							<array>
								<string>{-23.5, 24.25}</string>
								<string>{25, 17.75}</string>
								<string>{26.756437162049167, 35.774518788707802}</string>
							</array>
							<array>
								<string>{-22.5, 42.75}</string>
								<string>{-23.5, 24.25}</string>
								<string>{26.756437162049167, 35.774518788707802}</string>
							</array>
							<array>
								<string>{-22.5, 42.75}</string>
								<string>{26.756437162049167, 35.774518788707802}</string>
								<string>{22, 52.75}</string>
							</array>
							<array>
								<string>{-22.5, 42.75}</string>
								<string>{22, 52.75}</string>
								<string>{10, 63.25}</string>
							</array>
							<array>
								<string>{-22.5, 42.75}</string>
								<string>{10, 63.25}</string>
								<string>{-7.5, 63.25}</string>
							</array>
							<array>
								<string>{-22.5, 42.75}</string>
								<string>{-7.5, 63.25}</string>
								<string>{-17.5, 55.25}</string>
							</array>
						</array>
						<key>restitution</key>
						<integer>0</integer>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>category</key>
						<integer>1</integer>
						<key>density</key>
						<real>0.10000000000000001</real>
						<key>friction</key>
						<real>0.20000000000000001</real>
						<key>mask</key>
						<integer>65535</integer>
						<key>name</key>
						<string>pineappleLeaf</string>
						<key>points</key>
						<array>
							<array>
								<string>{-5.6469759671377915, -31.71574305406287}</string>
								<string>{-3.2602450899460536, -60.90102902248389}</string>
								<string>{1.3202774740419585, -42.483603999802668}</string>
							</array>
							<array>
								<string>{9.3910350908385567, -11.577582324825812}</string>
								<string>{16.489507509921182, -18.584359554530522}</string>
								<string>{7.6677979111503447, -0.49669297396832235}</string>
							</array>
							<array>
								<string>{5.6821227756564099, -24.996699004819845}</string>
								<string>{14.595434896282384, -34.532223973474302}</string>
								<string>{9.3910350908385567, -11.577582324825812}</string>
								<string>{-6.4500993499649582, -11.225030131183161}</string>
							</array>
							<array>
								<string>{-5.6469759671377915, -31.71574305406287}</string>
								<string>{1.3202774740419585, -42.483603999802668}</string>
								<string>{6.5832651540254687, -49.091981441175797}</string>
								<string>{5.6821227756564099, -24.996699004819845}</string>
								<string>{-6.4500993499649582, -11.225030131183161}</string>
							</array>
							<array>
								<string>{7.6677979111503447, -0.49669297396832235}</string>
								<string>{-4.6281814551026343, -0.79155618548739426}</string>
								<string>{-16.068608525398957, -9.7231261672347387}</string>
								<string>{-6.4500993499649582, -11.225030131183161}</string>
								<string>{9.3910350908385567, -11.577582324825812}</string>
							</array>
							<array>
								<string>{-6.4500993499649582, -11.225030131183161}</string>
								<string>{-16.114456120087922, -33.263494612700256}</string>
								<string>{-5.6469759671377915, -31.71574305406287}</string>
							</array>
						</array>
						<key>restitution</key>
						<integer>0</integer>
						<key>sensor</key>
						<false/>
						<key>shapeID</key>
						<integer>2</integer>
					</dict>
				</array>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>frame</key>
			<string>{{99.000000, 2.000000}, {50.000000, 126.000000}}</string>
			<key>offset</key>
			<string>{1.500000, -1.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7.000000, 5.000000}, {50.000000, 126.000000}}</string>
			<key>sourceSize</key>
			<string>{61.000000, 134.000000}</string>
			<key>uuid</key>
			<string>AE72DC12-83AB-4FD4-A3E8-370418FA49DA</string>
		</dict>
		<key>object_statue</key>
		<dict>
			<key>body</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>angularDamping</key>
				<integer>0</integer>
				<key>angularVelocity</key>
				<integer>0</integer>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>gravityScale</key>
				<integer>1</integer>
				<key>linearDamping</key>
				<integer>0</integer>
				<key>linearVelocity</key>
				<string>{0.000000, 0.000000}</string>
				<key>shapes</key>
				<array/>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>frame</key>
			<string>{{2.000000, 2.000000}, {92.000000, 138.000000}}</string>
			<key>offset</key>
			<string>{1.500000, 0.000000}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8.000000, 5.000000}, {92.000000, 138.000000}}</string>
			<key>sourceSize</key>
			<string>{105.000000, 148.000000}</string>
			<key>uuid</key>
			<string>098D16C3-0591-4AEB-914E-7008A7EE2042</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>ratio</key>
		<integer>1</integer>
		<key>size</key>
		<string>{254.000000, 254.000000}</string>
		<key>textureFileName</key>
		<string>objects.png</string>
	</dict>
</dict>
</plist>
